<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="test">
  <groups>
    <run>
      <exclude name="sanitytesting"  />
      <include name="regressiontesting"  />
      <include name="smoketesting"  />
         <inlude name="functinaltesting"  />
    </run>
  </groups>
  <classes>
  <class name="demo.Grouptestcase"/>
  </classes>
  </test><! --test-->
  </suite><!-- suite -->
  

  
 
